body {  padding: 50px 20%;	
    }

h1, h3 {
   text-align: center;
   color: pink; 
}

h1 {
	text-transform: uppercase;
}
.pink {
  color: pink;
  font-size: 120%;
}

h2 { 
    color : lightpink;
    text-align: right;
  border-bottom-width: 0.6px;
  border-bottom-color: LightSlateGray;
  border-bottom-style: solid;

     
}

p {
    font-family: Georgia,sans-serif;
    text-align: justify;
    font-style: italic;
}

hr { 
    color : darkgreen;
    margin-left: 20%;
    margin-right: 20%	;
    }