body {  
    padding: 50px 20%;
    font-family: Roboto, sans-serif;	
    }

h1, h3 {
   text-align: center;
   color: pink; 
}

h1 {
 text-transform: uppercase;
}

.pink {
  color: pink;
  font-size: 120%;
}

h2 { 
    color : lightpink;
    text-align: right;
  border-bottom-width: 0.6px;
  border-bottom-color: LightSlateGray;
  border-bottom-style: solid;

     
}

p {
    
    text-align: justify;
}

hr { 
    color : darkgreen;
    margin-left: 20%;
    margin-right: 20%	;
    }

#number1-achievement { color: darkred;}

.italic {
    font-style: italic;
}