body {    padding-left: 20%;
	padding-right: 20%;	
    }

h1, h3 {
   text-align: center;
   color: pink; 
}

.pink {
  color: pink;
  font-size: 120%;
}

h2 { 
    color : lightpink;
    text-align: right;
  border-bottom-width: 0.6px;
  border-bottom-color: LightSlateGray;
  border-bottom-style: solid;

     
}

p {
    font-family: Georgia,sans-serif;
    
}

hr { color : darkgreen;
margin-left: 20%;
margin-right: 20%	}

